[Unit]
Description=ParanoidOneDriveBackup Service

[Service]
Type=notify
ExecStart=</path/to/the/executable>
User=<user>
Group=<user>
Restart=on-failure