[Unit]
Description=ParanoidOneDriveBackup Timer

[Timer]
OnUnitActiveSec=60s
#OnCalendar=*-*-* 4:00:00
#OnBootSec=20s

[Install]
WantedBy=timers.target